
.carousel-inner img {
    width: 100%;
}

.navbar img {
    width: 100%;
}

.navbar img {
    width: 5rem;
}

.navbar .nav-item a {
    padding-top: 2rem;
}

.artistas img {
    width: 100%;
    height: 250px;
}

.card-group img {
    height: 250px;
}

.card-img-top:hover {
    transform: scale(1.05);
    -webkit-transition: transform 1s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}